
/*-------------------------------------FONTS---------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/*----------------------------------MEDIA QUERIES----------------------------------*/
/*xs*/
@media screen and (max-width: 767px) {
    .about-text{font-size: 22px;
    			line-height: 32px;
    			margin-right:3%;
    			margin-left: 3%}
    body {
    	padding-top:80px;
      font-size: 16px;
    }
    
    .poster{
      background: none;
      margin-top:10%;
    }
    .book {
      background: none;
      margin-top:-15px;
    }
    #broadside {
      margin-top:0px;
    }
    #emulate {
      margin-top:0px;
    }
    .fix-space-xs {
    margin-left:4px;
    }
    .more-space-bottom-xs {
      margin-bottom: 20px;
    }
    .titles-margin-top {
      margin-top:0;
  }
}

/*small*/
@media screen and (min-width: 768px) {
    .about-text{font-size: 30px;
    			line-height: 44px;
    			margin-right:8%;}

    body {
    	padding-top:49px;
      font-size:15px;
    }
     .poster {  background: white;
                padding-top: 5%;
                padding-bottom: 5%;
                margin-top: 4%;
                margin-bottom: 4%
    }
      .book {   background: white;
                padding-top: 3%;
                padding-bottom: 3%;
                margin-top: 4%;
                margin-bottom: 4%
    }


    #broadside {
      margin-top:-150px;
    }

    #emulate {
      margin-top:-60px;
    }

    .fix-space-xs {
    margin-right:0px;
    }
    .more-space-bottom-xs {
      margin-bottom: 0px;
    }
    .titles-margin-top {
    margin-top:0;
  }
}

/*med*/
@media screen and (min-width: 992px) {
	.about-text{font-size: 36px;
    			line-height: 54px;
    			}
  body {
    font-size:14px;
  }
  .titles-margin-top {
    margin-top:0;
  }
}

/*lg*/
@media screen and (min-width: 1200px) {
  .about-text{font-size: 36px;
          line-height: 54px;
          }
  body {
    font-size:15px;
  }
    .titles-margin-top {
    margin-top:0;
  }
}

/*xl*/
@media screen and (min-width: 1600px) {
  .about-text{font-size: 48px;
              line-height: 70px;
          }
  body {
    font-size:18px;
  }
    .titles-margin-top {
   margin-top:4%;
  }

}


/*----------------------------------END MEDIA QUERIES----------------------------------*/




/*----------------------------------COLOR VARIABLES----------------------------------*/
:root {
  --pink: #F5DAD4;
  --red: #F66462;
  --mint:#B2EED8;
  --black:#212121;
}

/*----------------------------------END COLOR VARIABLES----------------------------------*/


body {
	background-color: #F5DAD4;
	font-family: Montserrat;
	color:#212121;
}

a, a:hover {
	text-decoration: none;
}


h1 {
  font-weight: 700;
  font-size:2.2em;
}

h3 {
  font-weight:700;
  font-size: 1.4em;
}

.bold-big-red {
  color: #F66462;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1.3em;
  border-left: 8px solid var(--red);
  padding-left:30px;
  margin-top: 25px;
  margin-left:25px;
}

.border-red {
  border-left:3px solid #F66462;
  border-right: 3px solid #F66462;
  border-bottom: 3px solid #F66462;
  padding-left:20px;
  padding-right:35px;
  padding-top:28px;
  padding-bottom:25px;
  background-color: white;
}

.border-red-top-sides {
  border:3px solid #F66462;
  padding:10px;
  background-color: #F66462;
  text-transform: uppercase;
  color:white;
  letter-spacing: 1px;
}


.no-padding > * {
	margin-left: 0px;
    margin-right: 0px;
    padding: 0;

}

.padding-15 {
  padding-top:15px;
  padding-bottom: 15px;
}

.center-img {
	margin:auto;
}

.white-bg {
	background-color: white;
}

.red-text, a.red-text:visited, a.red-text:active {
	color:#F66462;
	transition:all 0.5s ease;
	text-decoration: none;
}

a.red-text:hover {
	color:#212121;
	text-decoration: none;
}

.squiggle {
	padding-top: 5%;
	padding-bottom: 4%;
	padding-left:3%;
	padding-right: 3%;
}

.about-text {
	font-family: 'Montserrat';
	font-weight:700;
	margin-bottom:50px;
}

.project-text {
  padding:5%;
}

.margin-top {
  padding-top: 5%;
}

.margin-bottom{
  padding-bottom: 5%;
}

.margin-bottom-thick {
  padding-bottom:70px;
}

.padding-right {
  padding-right:25px;
}

.p-link-pink, .p-link-pink:visited, .p-link-pink:active{
  color:#F66462;
  font-weight: 700;
  border-bottom: 1px solid #F5DAD4;
}

.p-link-pink:hover {
  color:#F5DAD4;
  transition:all 0.5s ease;
  border-bottom: 3px solid #F66462;
}

.p-link-red, .p-link-red:visited, .p-link-red:active {
  color:#F66462;
  font-weight:700;
  border-bottom: 1px solid #F66462;
}

.p-link-red:hover {
  transition:all 0.5s ease;
  color:#F66462;
  border-bottom: 3px solid #F66462;
}

.display-inline {
  display: inline;
}


#home-trailtag {
  background-image: url("imgs/home/patterns/trailtag.png");
  height:479px;
}

#home-livcollege {
  background-image: url("imgs/home/patterns/livcollege.png");
  height:479px;
}

#home-mh {
  background-image: url("imgs/home/patterns/meetinghabits.png");
  height:479px;
}

#home-language {
  background-image: url("imgs/home/patterns/language.png");
  height: 479px;
}

.about-eyes {
  background-image: url("imgs/about/eyeballs.png");
  height:400px;
}

.about-photo {
  background-color:#FFD700;
  height:400px;
}

.lock-to-bottom {
    position: relative;
    bottom: -44px;
    left:13vw;
}

.link-home-trailtag {
  text-align: right;
  position:relative;
  right:14vw;
  bottom:160px;
  font-size: 30px;
}

.link-home-honest {
  bottom:120px;
  left:2vw;
  font-size: 30px;
  position: absolute;
}


.link-home-mh {
  bottom:120px;
  right:3vw;
  font-size: 30px;
  position: absolute;
}

.link-home-ruggles {
  bottom:87px;
  left:2vw;
  font-size: 30px;
  position: absolute;
}

.black-block {
  padding: 10px 120px 39px 120px;
  background-color: #212121;
  color:white;
  text-decoration: none;
  font-weight: 700;
  transition: .3s ease;
}

.black-block-sm {
  padding: 10px 20px 39px 20px;
  background-color: #212121;
  color:white;
  text-decoration: none;
  font-weight: 700;
  transition: .3s ease;
}

.black-block-md {
  padding: 10px 40px 39px 40px;
  background-color: #212121;
  color:white;
  text-decoration: none;
  font-weight: 700;
  transition: .3s ease;
}

.black-block-sm-red {
  padding: 10px 20px 39px 20px;
  background-color: #212121;
  color:white;
  text-decoration: none;
  font-weight: 700;
  transition: .3s ease;
}

.black-block-sm-red:hover{
  box-shadow:
      1px 1px #F66462,
      2px 2px #F66462,
      3px 3px #F66462,
      4px 4px #F66462;
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
    color:white;
}

.black-block-sm:hover {
  box-shadow:
      1px 1px #F8E71C,
      2px 2px #F8E71C,
      3px 3px #F8E71C,
      4px 4px #F8E71C;
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
    color:white;
}

.black-block:hover{
    box-shadow:
      1px 1px #F66462,
      2px 2px #F66462,
      3px 3px #F66462,
      4px 4px #F66462;
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
    color:white;
}

.black-block-md:hover{
    box-shadow:
      1px 1px #F66462,
      2px 2px #F66462,
      3px 3px #F66462,
      4px 4px #F66462;
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
    color:white;
}

.black-block-lg:hover{
    box-shadow:
      1px 1px #F66462,
      2px 2px #F66462,
      3px 3px #F66462,
      4px 4px #F66462;
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
    color:white;
}

.black-block-lg {
  padding: 10px 100px 39px 100px;
  background-color: #212121;
  color:white;
  text-decoration: none;
  font-weight: 700;
  transition: .3s ease;
}

.desc-link {
  position:absolute;
  right:160px;
  color:white;
  font-size:14px;
  text-decoration: none;
}

.desc-link-honest {
  position:absolute;
  left:120px;
  color:white;
  font-size:14px;
  text-decoration: none;
}

.desc-link-ruggles {
  position:absolute;
  left:120px;
  margin:0 auto;
  color:white;
  font-size:14px;
  text-decoration: none;
}


.desc-link-mh {
  position:absolute;
  left:68px;
  color:white;
  font-size:14px;
  text-decoration: none;
}

.desc-link-5d {
  position:absolute;
  left:96px;
  color:white;
  font-size:14px;
  text-decoration: none;
}

.desc-link-lc {
  position:absolute;
  right:164px;
  color:white;
  font-size:14px;
  text-decoration: none;
}

#home-honest {
  position: relative;
  left: 12vw;
  top:2px;
}

#home-xd {
  position: relative;
  left: 20vw;
  top:41px;
  width:282px;
}

#mockup-mh {
  position: absolute;
  left:5%;
  top:60px;
}

#mockup-5d {
  position: absolute;
  left:5%;
  top:40px;
}

#mockup-lc {
  position: relative;
  left:0;
  top:52px;
}

/*----------------------------------FOOTER----------------------------------*/
.pagination, .pagination:visited, .pagination:active {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  color:#F66462;
}

.pagination:hover {
  color:#212121;
}

.footer {
	background-color: #212121;
	height:60px;
	padding-top:20px;
	color:white;
	font-weight: 400;
	font-size: 90%;
}

/*----------------------------------END FOOTER-------------------------------------*/





/*---------------------------------NAVIGATION-------------------------------------*/

/*NAV-MOBILE*/
.mobile-title {
	background-color: #212121;
	font-size: 24px;
	padding:5px;
}

.mobile-a:link, .mobile-a:hover, .mobile-a:visited, .mobile-a:active {
	color:white;
	text-decoration: none;
}

.mobile-link-bar {
	background-color: white;
	padding-top:11px;
	padding-bottom:10px;
}

.mobile-link, .mobile-link:visited, .mobile-link:active {
	color:#212121;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	display: inline-block;
  vertical-align: middle;
  padding-left:3%;
  padding-right: 3%;
}

.mobile-link:hover, .mobile-link-active, .mobile-link-active:hover {
	color:#B2EED8;
	text-decoration: line-through;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	padding-left:3%;
  padding-right: 3%;
}



/*NAV-REGULAR*/
.title {
	color:white;
	background-color: #212121;
	font-size: 24px;
	padding-top: 10px;
	padding-left: 40px;
	padding-right:40px;
	height:50px;
}

.nav-link {
	color:#212121;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-top:15px;
	padding-left:2vw;
	padding-right:2vw;
  display: inline-block;
  vertical-align: middle;
  transition:all 0.5s ease;
  float:right;
}

.nav-link:hover, .nav-link-active, .nav-link-active:hover {
	color:#B2EED8;
	text-decoration: line-through;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-top:15px;
	padding-left:2vw;
	padding-right:2vw;
	display: inline-block;
  vertical-align: middle;
  transition:all 0.5s ease;
  float:right;
}

/*----------------------------------END NAVIGATION----------------------------------*/





/*----------------------------------PASTED CODE----------------------------------*/

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/*CSS ANIMATION FOR TITLE*/
.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F66462;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: #F5DAD4;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


/*SWING! */
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

.fade {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.fade:hover {
  opacity: 0.8;
  filter: alpha(opacity=50);
}

.hvr-icon-back {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-left: 2.2em;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.hvr-icon-back:before {
  content: "\f137";
  position: absolute;
  left: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-back:hover:before, .hvr-icon-back:focus:before, .hvr-icon-back:active:before {
  -webkit-transform: translateX(-4px);
  transform: translateX(-4px);
}



.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.hvr-icon-forward:before {
  content: "\f138";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-forward:hover:before, .hvr-icon-forward:focus:before, .hvr-icon-forward:active:before {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

/*
*   CSS file with Bootstrap grid classes for screens bigger than 1600px. Just add this file after the Bootstrap CSS file and you will be able to juse col-xl, col-xl-push, hidden-xl, etc.
*
*   Author: Marc van Nieuwenhuijzen
*   Company: WebVakman
*   Site: WebVakman.nl
*
*/

@media (min-width: 1200px) and (max-width: 1599px) {
    .hidden-lg {
        display: none !important;
    }
}


.visible-xl-block,
.visible-xl-inline,
.visible-xl-inline-block,
.visible-xl{
    display: none !important;
}



@media (min-width: 1600px) {
    .container {
        width: 1570px;
    }

    .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        float: left;
    }

    .col-xl-12 {
        width: 100%;
    }

    .col-xl-11 {
        width: 91.66666667%;
    }

    .col-xl-10 {
        width: 83.33333333%;
    }

    .col-xl-9 {
        width: 75%;
    }

    .col-xl-8 {
        width: 66.66666667%;
    }

    .col-xl-7 {
        width: 58.33333333%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-5 {
        width: 41.66666667%;
    }

    .col-xl-4 {
        width: 33.33333333%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-2 {
        width: 16.66666667%;
    }

    .col-xl-1 {
        width: 8.33333333%;
    }

    .col-xl-pull-12 {
        right: 100%;
    }

    .col-xl-pull-11 {
        right: 91.66666667%;
    }

    .col-xl-pull-10 {
        right: 83.33333333%;
    }

    .col-xl-pull-9 {
        right: 75%;
    }

    .col-xl-pull-8 {
        right: 66.66666667%;
    }

    .col-xl-pull-7 {
        right: 58.33333333%;
    }

    .col-xl-pull-6 {
        right: 50%;
    }

    .col-xl-pull-5 {
        right: 41.66666667%;
    }

    .col-xl-pull-4 {
        right: 33.33333333%;
    }

    .col-xl-pull-3 {
        right: 25%;
    }

    .col-xl-pull-2 {
        right: 16.66666667%;
    }

    .col-xl-pull-1 {
        right: 8.33333333%;
    }

    .col-xl-pull-0 {
        right: auto;
    }

    .col-xl-push-12 {
        left: 100%;
    }

    .col-xl-push-11 {
        left: 91.66666667%;
    }

    .col-xl-push-10 {
        left: 83.33333333%;
    }

    .col-xl-push-9 {
        left: 75%;
    }

    .col-xl-push-8 {
        left: 66.66666667%;
    }

    .col-xl-push-7 {
        left: 58.33333333%;
    }

    .col-xl-push-6 {
        left: 50%;
    }

    .col-xl-push-5 {
        left: 41.66666667%;
    }

    .col-xl-push-4 {
        left: 33.33333333%;
    }

    .col-xl-push-3 {
        left: 25%;
    }

    .col-xl-push-2 {
        left: 16.66666667%;
    }

    .col-xl-push-1 {
        left: 8.33333333%;
    }

    .col-xl-push-0 {
        left: auto;
    }

    .col-xl-offset-12 {
        margin-left: 100%;
    }

    .col-xl-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-xl-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-xl-offset-9 {
        margin-left: 75%;
    }

    .col-xl-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-xl-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-xl-offset-6 {
        margin-left: 50%;
    }

    .col-xl-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-xl-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-xl-offset-3 {
        margin-left: 25%;
    }

    .col-xl-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-xl-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-xl-offset-0 {
        margin-left: 0;
    }

    .visible-xl {
        display: block !important;
    }

    table.visible-xl {
        display: table;
    }

    tr.visible-xl {
        display: table-row !important;
    }

    th.visible-xl, td.visible-xl {
        display: table-cell !important;
    }

    .visible-xl-block {
        display: block !important;
    }

    .visible-xl-inline {
        display: inline !important;
    }

    .visible-xl-inline-block {
        display: inline-block !important;
    }

    .hidden-xl {
        display: none !important;
    }
}


